@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@layer base {
  /* Extending Preflight */
  /* If you’d like to add your own base styles on top of Preflight, simply add them to your CSS within a @layer base directive: */

  /* h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  } */
}
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
  @apply text-gray-900;
  /* font-family: Montserrat !important; */
}

@media screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}
.rich-text p {
  font-size: 1.25rem !important;
  line-height: 1.75rem;
}
.sensitive-data-blocks:hover {
  /* background: rgba(83, 37, 101, 1) !important; */
  background: linear-gradient(306deg, transparent 9px, rgba(83, 37, 101, 1) 0) !important;
  color: white !important;
}

.rich-text-hero a {
  @apply text-blue-600 underline;
}

.rich-text-banner {
  @apply whitespace-pre-line;
  a {
    @apply underline;
  }
}

.title {
  @apply text-4xl leading-snug font-semibold;
}

@media (min-width: 768px) {
  .title {
    @apply text-4xl;
  }
}

.with-arrow:after {
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%206a.5.5%200%200%200%200%201V6zM12.854.646a.5.5%200%200%200-.708.708l.708-.708zM18%206.5l.354.354a.5.5%200%200%200%200-.708L18%206.5zm-5.854%205.146a.5.5%200%200%200%20.708.708l-.708-.708zM1%207h16.5V6H1v1zm16.646-.854l-5.5%205.5.708.708%205.5-5.5-.708-.708zm-5.5-4.792l2.75%202.75.708-.708-2.75-2.75-.708.708zm2.75%202.75l2.75%202.75.708-.708-2.75-2.75-.708.708z%22%20fill%3D%22%231264A3%22%2F%3E%3C%2Fsvg%3E);
  content: "";
  width: 19px;
  height: 13px;
  display: inline-block;
  margin-left: 0.5em;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

/* .img-fix > div {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

/* Fixes issue with button changing to default material blue on directory page  */

.MuiButton-root{
  border-radius: 0% !important;
}
.MuiButton-containedPrimary {
  background-color: #532565 !important;
}

.MuiButton-containedPrimary:hover {
  background-color: #982568 !important;
}

.MuiButton-textPrimary {
  color: #532565 !important;
}

.tag-wrap {
  /* filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); */
  filter: drop-shadow(-1px 6px 3px #441d4f);
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #53256554;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}

.embla__dot.is-selected:after {
  background-color: #532565;
  opacity: 1;
}

/* .MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #e3dce4 !important;
} */

.resource-block {
  width: 380px
}

.resource-block::before {
  background-color: #532565;
  opacity: 80%;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.resource-block:hover::before {
  background-color: #250033;
}

@media (max-width: 1280px){
  .resource-block {
    width: 47%
  }
}

@media (max-width: 900px){
  .resource-block {
    height: 300px !important
  }
}

@media (max-width: 600px){
  .resource-block {
    height: 400px !important;
    width: 100%;
  }
}

.FAIRiswheel {
height: 300px;
min-width: 500px;
content: ""
}

.wheel{
  top: 105px;
}

.css-10hburv-MuiTypography-root {

  font-size: 1.3rem;
}

.working-group-list-item{
  cursor: pointer;
  width: 50%;
   padding: 10px 
}

/* Event List Cards */

.basic-card-container {
  margin: 0 0 25px 0
}
.basic-card-content {
  min-height: 250px;
  background: rgb(192 179 197 / 18%);
  padding: 35px;
  position: relative;
}

.event-img {
  position: absolute;
  top: 32.5px;
}

.card-blurb {
  padding: 0 0 0 220px;
  word-break: break-word;

}

.working-group-list-item{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #c4c4c40f;
  margin-bottom: 10px;
  width: 50% !important;
}

.working-group-list-item:nth-of-type(2n){
  margin-left: 10px;
  width: calc(50% - 10px) !important;
}

/* .webinar-markdown p {
  max-height: 100px;
  overflow: hidden;
} */

@media screen and (max-width: 755px){
  .event-img {
    position:relative;
    text-align: center
  }
  .card-blurb  {
    padding: 20px 0 0 0
  }



}

@media screen and (max-width: 1025px){
  .event-img {
    top: unset;
  }
 .basic-card-content {
   min-height: 340px
 }

 .working-group-list-item{
  width: 100% !important;
}
.working-group-list-item:nth-of-type(2n){
  margin-left: 0;
  width: 100% !important;
}
}

.event-html li {
  list-style-type: square;
  margin-left: 50px
}

.event-html a {
  color: #0044B3
}
.faq-markdown a {
  color: #0044B3
}

.faq-markdown p {
  margin: 0 0 12px 0
}

.faq-markdown li {
  list-style-type: square;
  margin-left: 50px
}

.glossary-markdown a {
  color: #0044B3;
}

.glossary-markdown p {
  margin: 0 0 12px 0
}

.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

/* Public Page: Members Collective */

.members-basic-card-content {
  min-height: 250px;
  background: rgb(192 179 197 / 18%);
  padding: 35px;
  position: relative;
}

.public-members-card {
  margin-top:15px;
  border-width: 6px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to left, 
      #532565, 
      #f4f1f4
    ) 100% 0 0 0;
}

.members-event-img {
  position: absolute;
  top: -40px;
}



.members-card-blurb {
  padding: 0 0 0 135px;
  word-break: break-word;
}


@media screen and (max-width: 650px){
  .members-card-blurb  {
    padding: 40px 0 0 0
  }
}

.event-html hr {
  border-top-width: 1px;
  border-color: #982466;
  padding-bottom: 10px;
}

.event-html h2 {
  color: #532565;
}

.event-html h3 {
  color: #982568;
}
.general-table a {
  color: #0044B3;
}

.general-table-headers{
  color: #532565;
  font-size: 14px;
}

.general-table-headers div{
  font-weight: bold !important;
}


.MuiStepConnector-vertical {
    border-color: #c0b3c5 !important;
    border-left-width: 8px !important;
    margin-left: 39px !important;
}
.MuiStepContent-root {
  border-color: #c0b3c5 !important;
  border-left-width: 8px !important;
  margin-left: 39px !important;
}
.search-link {
  color: #0044B3;
  font-weight: 400
}